* {
    margin: 0;
    padding: 0;
    font-family: 'Popins', sans-serif;
}

body {
    background-color: black;
}

.logo {
    text-align: center;
    position: relative;
    color: white;
    margin-top: 40px;
}

.logo h1 {
    letter-spacing: 9px;
    position: absolute;
    margin-left: 550px;
    font-size: 50px;
    color: white;
    cursor: pointer;
    margin-top: 100px;
    z-index: 1;
    background-color: black;
    font-weight: lighter;
}

.logo-p {
    margin-top: 5px;
    color: white;
    letter-spacing: 5px;
}

.number {
    color: white;
    margin-left: 1140px;
    position: absolute;
}

.number h3 {
    font-weight: bold;
    letter-spacing: 3px;
    font-family: none;
    color: white;
    font-size: 23px;
    margin-top: 25px;
}

.head-text {
    margin-top: 50px;
    margin-left: 100px;
    color: white;
}

.head-text h1 {
    font-size: 50px;
    color: white;
}

.btn-send {
    color: white;
    margin-left: 100px;
}

.btn-send button {
    width: 550px;
    height: 40px;
    background-color: #25D366;
    color: white;
    border: none;
    font-size: 17px;
    border-radius: 7px;
    transition: .5s;
    border-radius: 10px 40px;
}

.btn-send button:hover {
    transition: .5s;
    cursor: pointer;
    box-shadow: 0 0 10px 0 #1aa04b inset, 0 0 20px 2px #25D366;
    border: 1px solid #25D366;
    border-radius: 40px 10px;
}

.submit {
    position: absolute;
    margin-top: 50px;
    font-size: 23px;
    margin-left: 700px;
    color: white;
}

.submit h4 {
    color: white;
    text-align: center;
}

.all-sumbit-list {
    position: absolute;
    margin-top: 120px;
    color: white;
    margin-left: 700px;
}

.all-sumbit-list input {
    width: 258px;
    height: 40px;
    background-color: transparent;
    color: white;
    border: 1px solid whitesmoke;
    padding-left: 10px;
    border-radius: 3px;
}

.dropdown {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 264px;
    height: 42px;
    color: white;
    border: 1px solid white;
    margin-left: 975px;
    background-color: black;
    text-align: center;
    margin-top: 170px;
    position: absolute;
    font-size: 20px;
}

select option:hover {
    background-color: black;
}

.dropdown-btn {
    color: black;
    font-weight: 600;
    margin-top: 12px;
}


.dropdown-content {
    display: none;
    position: absolute;
    color: white;
    background-color: whitesmoke;
    width: 233px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    margin-top: 10px;
}

.dropdown-content li a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.dropdown-content li {
    color: white;
    transition: 1s;
}

.dropdown-content li:hover {
    color: white;
    transform: scale(1.1);
    transition: 1s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.all-submit-list-1 input {
    width: 258px;
    color: white;
    height: 40px;
    background-color: transparent;
    border: 1px solid whitesmoke;
    padding-left: 10px;
    border-radius: 3px;
    position: absolute;
    margin-left: 700px;
    margin-top: 170px;
}

.project {
    position: absolute;
    margin-left: 700px;
    color: white;
    margin-top: 240px;
}

.project input :placeholder-shown {
    width: 520px;
    color: white;
}

.project input {
    width: 520px;
    padding-top: 10px;
    color: white;
    border-radius: 5px 0px 30px;
    outline: none;
    padding-bottom: 140px;
    background-color: transparent;
    padding-left: 20px;
}

.get-a {
    color: white;
    position: absolute;
    margin-left: 700px;
}

.get-a button {
    height: 40px;
    background-color: black;
    border: 1px solid white;
    width: 550px;
    position: absolute;
    color: white;
    transition: .5s;
    margin-top: 420px;
    border-radius: 10px 40px;
    font-weight: 900;
}

.get-a button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 40px 10px;
    box-shadow: 0 0 10px 0 #f7fdfd inset, 0 0 20px 2px #a3a3a3;
    border: 1px solid white;
}

.col-1 {
    color: white;
    margin-top: 200px;
    text-align: center;
}

.col-2 {
    color: white;
    margin-top: 10px;
    text-align: center;
}

.col-3 {
    margin-top: 70px;
    color: white;
    margin-left: 200px;
    position: absolute;
}

.col-4 {
    float: right;
    margin-top: 100px;
    color: white;
    margin-right: 180px;
}

.col-5 {
    margin-left: 780px;
    margin-top: 190px;
    color: white;
}

.col-5 p {
    font-weight: lighter;
    color: white;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    color: black;
    transition: .5s;
}

#myBtn:hover {
    color: white;
    background-color: black;
}

.col-6 {
    text-align: center;
    margin-top: 150px;
    color: white;
}

.col-7 {
    margin-top: 5px;
    text-align: center;
    color: white;
}

.col-8 {
    color: white;
    width: 370px;
    background-color: black;
    border-radius: 10px;
    --borderWidth: 3px;
    position: relative;
    border-radius: var(--borderWidth);
    border: 10px;
    margin-left: 65px;
    margin-top: 50px;
}

.col-9 h1 {
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    font-weight: 800;
}

.col-10 {
    font-weight: lighter;
    text-align: center;
    font-weight: 100;
}

.col-11 h1 {
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
}

.col-12 {
    margin-top: 30px;
    padding-left: 65px;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

.col-12-1 {
    margin-top: 50px;
}

.col-12-1 i {
    position: absolute;
    font-size: 20px;
    color: whitesmoke;
}

.col-12-1 a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 900;
    padding-left: 30px;
}

.col-12 li {
    padding-bottom: 10px;
}

.col-8:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.col-13 {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 100px;
}

.col-13 h4 {
    font-weight: 900;
    font-size: 13px;
}

.col-13 a {
    text-decoration: none;
    font-weight: 900;
    font-size: 15px;
    color: white;
}

.col-14 {
    display: flex;
}

.footer-1 {
    padding-top: 5px;
    height: 20px;
    background-color: grey;
    margin-top: 20px;
    text-align: center;
    color: white;
}

.col-16 {
    margin-top: 200px;
    text-align: center;
    color: white;
}

.col-17 {
    margin-top: 100px;
    color: white;
    margin-left: 100px;
    position: absolute;
}



.col-17 .number-list h4 {
    font-size: 18px;
}

.contact-mail {
    margin-top: 20px;
}

.contact-mail h4 i {
    padding-right: 10px;
}

.loaction {
    margin-top: 13px;
}

.loaction i {
    padding-right: 10px;
}

.loc {
    margin-top: 7px;
}

/* Full-width input fields */
.input input[type=text],
.input input[type=password] {
    width: 96%;
    padding: 12px 20px;
    margin: 8px 10px;
    background-color: black;
    transition: .3s;
    color: white;
    border-radius: 10px;
    display: inline-block;
    border: 1px solid white;
    box-sizing: border-box;
}

.input input[type=text]:hover {
    transform: scale(1.1);
    z-index: 1;
}

.input input[type=password]:hover {
    transform: scale(1.1);
    z-index: 1;
}

/* Set a style for all buttons */
.login button {
    background-color: black;
    border: 1px solid white;
    color: white;
    font-weight: 900;
    padding: 8px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
    transition: .5s;
}

.login button:hover {
    transition: 5s;
    text-decoration: underline;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 8px 20px;
    color: black;
    margin-left: 7px;
    border: 1px solid white;
    background-color: white;
    transition: .3s;
    cursor: pointer;
    border-radius: 5px;
}

.cancelbtn:hover {
    color: black;
    background-color: white;
    transform: scale(1.1);
    box-shadow: 0 0 10px 0 #f7fdfd inset, 0 0 20px 2px #a3a3a3;
    border: 1px solid white;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container-2 {
    padding: 16px;
}

.container h5 .psw {
    float: right;
    padding-top: 16px;
}

.container h5 {
    color: white;
    margin-top: 50px;
    text-align: center;
}

.container-2 label {
    color: white;
    margin-left: 10px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: red;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    border-radius: 20px;
    background-color: black;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 2px solid white;
    height: 600px;
    width: 30%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close {
    color: white;
    transition: .5s;
}

.close:hover,
.close:focus {
    color: white;
    cursor: pointer;
    transform: scale(1.2);
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

.container-2 button {
    width: 96%;
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
    background-color: white;
    color: black;
    border: 1px solid white;
    font-weight: 900;
    border-radius: 5px;
    font-size: 17px;
    transition: .5s;
    cursor: pointer;
}

.container-2 button:hover {
    box-shadow: 0 0 10px 0 #f7fdfd inset, 0 0 20px 2px #a3a3a3;
    border: 1px solid white;
}

label .input {
    margin-left: 12px;
}

.container {
    margin-left: 20px;
}


@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.login button {
    margin-left: 1050px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    h5.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

.without {
    margin-left: 1020px;
    margin-top: 100px;
}

.without button:hover {
    cursor: pointer;
    background-position: 100%;
    color: white;
}

.without button {
    background-color: transparent;
    height: 40px;
    color: black;
    width: 280px;
    border: none;
    cursor: pointer;
    font-size: 17px;
    border: 3px solid white;
    background-image: -webkit-linear-gradient(30deg, white 50%, transparent 50%);
    background-image: linear-gradient(30deg, white 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    margin-bottom: 200px;
}

.without button i {
    padding-left: 10px;
}

.mySlides {
    display: none;
}

header {
    padding: 30px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    margin-left: 530px;
    z-index: 99;
    float: right;
}

header .left {
    display: flex;
    align-items: center;
}

header ul li {
    list-style: none;
    display: inline-block;
    margin: 0 25px;
}

header ul li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

header ul li a::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 40%;
    width: 1px;
    height: 60px;
    background-color: #fff;
    transform: rotate(46deg) scale(0);
    transition: all ease 0.5s;
}

header ul li a:hover::before {
    transform: rotate(46deg) scale(1);
}

.menu {
    position: relative;
    margin-left: 100px;
}